body, select, input, textarea {
    font: 400 100%/1.45 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

body {
    color: #FFF;
    background: url('../images/lakeside.png') no-repeat fixed;
    background-size: cover;
    min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Julius Sans One', sans-serif;
    margin-bottom: 0.5em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
}

h1 {
    text-align: center;
    font-size: 5em;
}

h2 {
    font-size: 2em;
    text-align: center;
    margin-top: 2em;
}

h3 {
    font-size: 1.2em;
}

p {
    margin-bottom: 1.5em;
}

strong {
    font-weight: bold;
}

a {
    transition: all 0.25s linear 0s;
    text-decoration: none;
    color: #FFF;
}

a:hover, a:focus {
    text-decoration: underline;
}

footer,
.wrapper {
    white-space: nowrap;
    width: 50%;
    min-width: 580px;
    margin: 0 auto;
    margin-bottom: 50px;
}

input {
    min-width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.7);
    background-color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
}

.results,
.content,
.error {
    width: 50%;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.7);
    background-color: rgba(37, 144, 114, 0.6);
    border-radius: 5px;
}

.error {
    text-align: center;
    background-color: rgba(134, 34, 34, 0.6);
}

.result {
    overflow: hidden;
}

.result h3 {
    float: left;
    margin: 0;
}

.result i {
    float: right;
    font-size: 1.4em;
}

.results > li {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.results > li:last-child {
    margin: 0;
    padding: 0;
    border: none;
}

.results > li ul {
    text-align: center;
}

.results > li ul li {
    display: inline-block;
    padding: 0.5em 1em;
}

.fa-check {
    color: #ACCE72;
}

.throbber {
    overflow: hidden;
    position: relative;
    width: 42px;
    height: 48px;
    padding: 10px;
    font-size: 3em;
    margin: 100px auto 0;
}

code {
    background-color: rgba(230, 231, 182, 0.6);
    border-radius: 5px;
    display: block;
    padding: 1em;
    font-size: 1em;
    margin-bottom: 1.5em;
    font-family: monospace;
    color: #333;
    border-left: 4px solid rgba(137, 179, 138, 1);
}

code:last-child {
    margin-bottom: 0;
}

nav ul,
nav li {
    margin: 0;
    padding: 0;
}

nav ul {
    text-align: center;
}

nav li {
    display: inline-block;
    border-right: 1px solid #FFF;
}

nav li:last-of-type {
    border-right: none;
}

nav li a {
    padding: 0.5em 1em;
}

/*
font-family: 'Play', sans-serif;
font-family: 'Lekton', sans-serif;
font-family: 'Fredoka One', cursive;
font-family: 'Julius Sans One', sans-serif;
*/
