body, select, input, textarea {
  font: 400 100%/1.45 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

body {
  color: #625440;
  background-color: #FFF;
  padding-bottom: 3em;
}

#main *::selection {
  background: rgba(145, 45, 145, 1); 
  color: #fff;
}
#main *::-moz-selection {
  background: rgba(145, 45, 145, 1); 
  color: #fff;
}

p {
  margin-bottom: 0.7em;
}

a {
  transition: all 0.25s linear 0s;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin-bottom: 0.5em;
}

h1 { font-size:3em; }

h2 { font-size:2em; }

h3 { font-size:1.5em; }

abbr {
  cursor: help;
}

.site-wrapper {
  margin: 0 auto;
  max-width: 1100px;
  overflow: auto;
}

#site-header {
  background-color: #2d91c8;
  padding: 10px 0;
}

#site-nav {
  background-color: #f6f5f4;
  padding: 10px 0;
}

#site-header h1 {
  font-size: 2em;
  line-height: 1em;
  margin:0;
  font-weight: 900;
  font-style: italic;
}

#site-header h1 a {
  background: transparent url(../images/plane-logo.png) center top no-repeat;
  color: #FFF;
  padding-top: 20px;
  display:inline-block;
}

#site-header h1 span {
  color: #FFF;
  font-size: 0.5em;
  margin-left: 0.5em;
}

#site-header nav {
  float:right;
  font-size:0.8em;
}

#site-header nav li {
 display:inline-block;
 margin-left:1em;
 color: #73bde6;
}

#site-header nav a {
  color: #FFF;
  display:inline-block;
}

#site-header nav a:hover,
#site-header nav a:focus {
  text-decoration: underline;
}

#site-nav ul:first-child {
  float:left;
}

#site-nav li {
  display:inline-block;
  margin-right: 2em
}

#site-nav li:last-child {
  margin-right:0;
}

#site-nav li a {
  display:inline-block;
  color: #9e9380;
  font-weight: 700;
  font-size:1.2em;
}

#site-nav li a .fa {
  margin-right: 0.3em;
}

#site-nav li a.active {
  color: #2d91c8;
}

#site-nav li a:hover,
#site-nav li a:focus{
  color: #73bde6;
}

#main .site-wrapper {
  margin-top:20px;
}

#main .site-wrapper > section {
  margin-bottom:40px;
}

#main .site-wrapper > section:last-child {
  margin-bottom:0;
}

table {
  border-collapse: separate;
  min-width:100%;
  margin-bottom: 3em;
}

table:last-child {
  margin-bottom:0;
}

table caption {
  text-align: left;
  margin-bottom:0.5em;
  font-weight:bold;
  color:#912d91;
}

table thead th {
  background-color: #f6f5f4;
}

table thead th:first-child {
  border-top-left-radius:5px;
}

table thead th:last-child {
  border-top-right-radius:5px;
}

table th,
table td {
  padding: 0.5em;
  text-align: left;
}

table tbody th {
  font-weight:bold;
  white-space: nowrap;
  width:1px;
  border-bottom: 1px solid #f6f5f4;
}

table tbody td {
  border-bottom: 1px solid #f6f5f4;
}

table tbody tr:hover {
  background-color: rgba(246,245,244, 0.4);
}

table th.id,
table th.operations,
table th.passengers {
  width:1px; /* YES, VERY UGLY HAXX. */
}

table td.operations a {
  color:#625440;
}

td.operations [class^="icon-"]:before, td.operations [class*=" icon-"]:before {
  display: inline;
}

table td.align-right {
  text-align:right;
}

label {
  font-size:0.8em;
  color: #9e9380;
  text-transform: uppercase;
  font-weight:bold;
  display: block;
}

.form-item {
  position: relative;
  margin-bottom: 1em;
  overflow:auto;
}

input:not([type="submit"]):not([type="radio"]),
select, textarea {
  width:100%;
  border-radius: 5px;
  border: 1px solid #ebe9e4;
  padding: 5px 10px !important;
  box-sizing: border-box;
}

input:focus:not([type="submit"]),
input:active:not([type="submit"]),
select:focus,
select:active {
  border: 1px solid #2d91c8;
  outline: none;
}

.form-actions {
  overflow:hidden;
}

.form-actions a {
  float:right;
}

.width50 {
  width:50%;
}

.hour-minute select:first-of-type {
  margin-right: 1em;
}

.hour-minute select {
  width:80px;
}

span.error {
  font-size:0.8em;
  font-style: italic;
  color: #FF0000;
  display: block;
}

[class^="flag-icon"], [class*=" flag-icon-"] {
  display: inline-block;
  width:24px;
  height:24px;
  line-height: 1em;
  text-indent: -9999em;
}

.flag-icon-gb {
  background-image: url(../images/england.png);
}

.flag-icon-se {
  background-image: url(../images/sweden.png);
}

ul.languages {
  float:right;
}