@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?34870326');
  src: url('../font/fontello.eot?34870326#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?34870326') format('woff'),
       url('../font/fontello.ttf?34870326') format('truetype'),
       url('../font/fontello.svg?34870326#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?34870326#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  /* margin-left: .2em; */

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-fuel:before { content: '\e800'; }
.icon-flight:before { content: '\e801'; }
.icon-users:before { content: '\e802'; }
.icon-cog:before { content: '\e803'; }
.icon-user:before { content: '\e804'; }
.icon-home:before { content: '\e805'; }
.icon-pencil:before { content: '\e806'; }
.icon-circle-empty:before { content: '\e807'; }
.icon-inbox:before { content: '\e808'; }
.icon-cancel:before, .icon-remove:before { content: '\e809'; }
.icon-attention-circled:before { content: '\e80a'; }
.icon-dot-circled:before { content: '\e80b'; }
.icon-flag-checkered:before { content: '\e80c'; }
.icon-globe:before { content: '\e80d'; }
.icon-road:before { content: '\e80e'; }